# pip-tools input requirements file.

# Python development tools
pipenv

# Code quality and formatting
pylint

# IDEs
python-language-server[all]
pyls-black
pyls-isort

# Helpers
pipdeptree
invoke
cookiecutter
